.search_bar .search {
    position: absolute;
    margin: auto;
    margin-bottom: 28vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.search_bar .search:hover {
    cursor: pointer;
}

.search_bar .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: black;
    transform: rotate(45deg);
    transition: all 0.5s;
}

.search_bar .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid black;
    transition: all 0.5s;
}

.search_bar input {
    font-family: 'Nexa-Normal';
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: black;
    color: white;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 white, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
}

.search_bar input:hover {
    cursor: pointer;
}

.search_bar input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}

.search_bar input:focus~.search {
    right: 400px;
    background: white;
    z-index: 6;
}

.search_bar input:focus~.search::before {
    top: 0;
    left: 0;
    width: 25px;
}

.search_bar input:focus~.search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: black;
    border-radius: 0%;
    transform: rotate(-45deg);
}

.search_bar input {
    margin-bottom: 29.5vh;
}

.search_bar input::placeholder {
    color: white;
    opacity: 60%;
}